[package]
name = "zrpc-macros"
version = "0.6.0-alpha1"
authors = ["gabrik <gabriele.baldoni@gmail.com>"]
categories = ["network-programming"]
description = "Framework for decentralized and distributed microservices over Zenoh."
edition = "2018"
homepage = "https://github.com/ZettaScaleLabs/zenoh-rpc"
license = " EPL-2.0 OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/ZettaScaleLabs/zenoh-rpc"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
# To build with debug on macros: RUSTFLAGS="-Z macro-backtrace"

[dependencies]
Inflector = "=0.11"
async-std = { version = "=1.12.0", features = ["attributes"] }
base64 = "=0.20.0"
darling = "=0.14"
futures = "=0.3.25"
log = "=0.4"
proc-macro2 = "=1.0.49"
quote = "=1.0.23"
serde = { version = "=1.0.151", features = ["derive"] }
serde_derive = "=1.0.151"
syn = { version = "=1.0.107", features = ["full"] }
syn-serde = { version = "=0.2", features = ["json"] }
uhlc = "=0.5"
uuid = { version = "=1.2.2", features = ["serde", "v4"] }
zenoh = { version = "=0.7.0-rc", default-features = false }
zenoh-util = { version = "=0.7.0-rc" }
zrpc = { version = "0.6.0-alpha1", path = "../zrpc", default-features = false }

[dev-dependencies]
serde_json = "1"
env_logger = "=0.10.0"

[lib]
proc-macro = true
