#
# Copyright (c) 2022 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ZettaScale Zenoh Team, <zenoh@zettascale.tech>
#

[package]
name = "zrpc"
version = "0.5.0-alpha1"
authors = ["gabrik <gabriele.baldoni@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-std = { version = "=1.12.0", features = ["attributes"] }
futures = "0.3.5"
zenoh = { git = "https://github.com/eclipse-zenoh/zenoh.git", branch = "master", default-features = false}
zenoh-util = { git = "https://github.com/eclipse-zenoh/zenoh.git", branch = "master" }
uuid = { version = "1.1", features = ["serde", "v4"] }
base64 = "0.13.0"
serde_derive = "1.0.55"
serde = { version = "1.0.55", features = ["derive"] }
thiserror = "1.0"
log = "0.4"
bincode = { version = "1.3.1", optional = true}
serde_yaml = {version = "0.9", optional = true}
serde_cbor = {version = "0.11", optional = true}
serde_json = { version = "1", optional = true}
flume = { version  = "0.10" }

[features]
#zenoh feature re-exports
auth_pubkey = ["zenoh/auth_pubkey"]
auth_usrpwd = ["zenoh/auth_usrpwd"]
complete_n = ["zenoh/complete_n"]
shared-memory = ["zenoh/shared-memory"]
stats = ["zenoh/stats"]
transport_quic = ["zenoh/transport_quic"]
transport_tcp = ["zenoh/transport_tcp"]
transport_tls = ["zenoh/transport_tls"]
transport_udp = ["zenoh/transport_udp"]
transport_unixsock-stream = ["zenoh/transport_unixsock-stream"]
transport_ws = ["zenoh/transport_ws"]



resp_bincode = ["bincode"]
send_bincode = ["bincode"]

send_json = ["serde_json"]
resp_json = ["serde_json"]

resp_cbor = ["serde_cbor"]
send_cbor = ["serde_cbor"]

state_bincode = ["bincode"]
state_json = ["serde_json"]
state_cbor = ["serde_cbor"]

router_json = ["serde_json"]

default = [
    "resp_cbor",
    "send_cbor",
    "state_cbor",
    "router_json",
    "transport_tcp",
    "transport_udp"
    ]





